:root {
  --pink: oklch(66.5% 0.226 3);
  --orange: oklch(from var(--pink) l c 78);
  --gold: oklch(from var(--pink) l c 93);
  --green: oklch(from var(--pink) l c 143);
  --blue: oklch(from var(--pink) l c 243);
  --purple: oklch(from var(--pink) l c 303);

  --accent-color: var(--pink);
  --accent-color-light: oklch(from var(--accent-color) 92.5% c h);

  --light-gray: oklch(90% none none);
  --medium-gray: oklch(70% none none);
  --text-color: oklch(0% none none);
  --text-light: oklch(50% none none);

  --background-gradient-color: oklch(90% 0.05 180);
  --background-gradient: linear-gradient(
    66deg,
    var(--background-gradient-color) 0%,
    oklch(from var(--background-gradient-color) l c 360) 65%,
    var(--background-gradient-color) 100%
  );
  --background-light: oklch(from var(--accent-color-light) l 0.02 h);
  --background-strong: white;

  accent-color: var(--accent-color);
  color: var(--text-color);
}

body {
  background: var(--background-gradient);
  background-attachment: fixed;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-block-size: 100vh;
}
